%%-*- mode: erlang -*-

{deps, [{webmachine, "1.10.*", {git, "https://github.com/basho/webmachine", "HEAD"}},
        {gproc, "0.3.*", {git, "https://github.com/uwiger/gproc.git", "HEAD"}},
        {erlando, "", {git,"https://github.com/rabbitmq/erlando.git",{tag, "rabbitmq_v2_8_7"}}},
        {pmod_transform, "", {git,"https://github.com/erlang/pmod_transform.git","HEAD"}}
       ]}.
